.Previewer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

div {
  width: 99%;
}

.Previewer div:nth-child(2) {
  width: 98.7%;
  height: 80vh;
  padding: 5px;
  overflow: scroll;
  flex-wrap: wrap;
}
#preview {
  background-color: #aaeedd;
}